.z_ex {width: 8px;height:16px} .z_ex img {margin:   0px 0 0    0px}
.z_ap {width: 4px;height:16px} .z_ap img {margin:   0px 0 0  -25px}
.z_0  {width:16px;height:16px} .z_0  img {margin:   0px 0 0  -50px}
.z_1  {width:12px;height:16px} .z_1  img {margin:   0px 0 0  -75px}
.z_2  {width:16px;height:16px} .z_2  img {margin:   0px 0 0 -100px}
.z_3  {width:14px;height:16px} .z_3  img {margin:   0px 0 0 -125px}
.z_4  {width:15px;height:16px} .z_4  img {margin:   0px 0 0 -150px}
.z_5  {width:14px;height:16px} .z_5  img {margin:   0px 0 0 -175px}
.z_6  {width:14px;height:16px} .z_6  img {margin:   0px 0 0 -200px}
.z_7  {width:13px;height:16px} .z_7  img {margin:   0px 0 0 -225px}
.z_8  {width:13px;height:16px} .z_8  img {margin:   0px 0 0 -250px}
.z_9  {width:14px;height:16px} .z_9  img {margin:   0px 0 0 -275px}
.z_a  {width:15px;height:16px} .z_a  img {margin:   0px 0 0 -300px}
.z_b  {width:16px;height:16px} .z_b  img {margin:   0px 0 0 -325px}
.z_c  {width:16px;height:16px} .z_c  img {margin:   0px 0 0 -350px}
.z_d  {width:16px;height:16px} .z_d  img {margin:   0px 0 0 -375px}
.z_e  {width:15px;height:16px} .z_e  img {margin:   0px 0 0 -400px}
.z_f  {width:15px;height:16px} .z_f  img {margin:   0px 0 0 -425px}
.z_g  {width:16px;height:16px} .z_g  img {margin:   0px 0 0 -450px}
.z_h  {width:16px;height:16px} .z_h  img {margin:   0px 0 0 -475px}
.z_i  {width: 8px;height:16px} .z_i  img {margin: -20px 0 0    0px}
.z_j  {width:16px;height:16px} .z_j  img {margin: -20px 0 0  -25px}
.z_k  {width:16px;height:16px} .z_k  img {margin: -20px 0 0  -50px}
.z_l  {width:16px;height:16px} .z_l  img {margin: -20px 0 0  -75px}
.z_m  {width:22px;height:16px} .z_m  img {margin: -20px 0 0 -100px}
.z_n  {width:16px;height:16px} .z_n  img {margin: -20px 0 0 -125px}
.z_o  {width:16px;height:16px} .z_o  img {margin: -20px 0 0 -150px}
.z_p  {width:16px;height:16px} .z_p  img {margin: -20px 0 0 -175px}
.z_q  {width:16px;height:16px} .z_q  img {margin: -20px 0 0 -200px}
.z_r  {width:16px;height:16px} .z_r  img {margin: -20px 0 0 -225px}
.z_s  {width:16px;height:16px} .z_s  img {margin: -20px 0 0 -250px}
.z_t  {width:16px;height:16px} .z_t  img {margin: -20px 0 0 -275px}
.z_u  {width:16px;height:16px} .z_u  img {margin: -20px 0 0 -300px}
.z_v  {width:16px;height:16px} .z_v  img {margin: -20px 0 0 -325px}
.z_w  {width:22px;height:16px} .z_w  img {margin: -20px 0 0 -350px}
.z_x  {width:15px;height:16px} .z_x  img {margin: -20px 0 0 -375px} 
.z_y  {width:16px;height:16px} .z_y  img {margin: -20px 0 0 -400px}
.z_z  {width:16px;height:16px} .z_z  img {margin: -20px 0 0 -425px}
.z_sp {width:16px;height:16px} .z_sp img {margin: -20px 0 0 -475px}

.n_hy {width: 8px;height:11px} .n_hy img {margin: -40px 0 0    0px}
.n_pe {width: 8px;height:11px} .n_pe img {margin: -40px 0 0  -10px}
.n_0  {width: 8px;height:11px} .n_0  img {margin: -40px 0 0  -20px}
.n_1  {width: 8px;height:11px} .n_1  img {margin: -40px 0 0  -30px}
.n_2  {width: 8px;height:11px} .n_2  img {margin: -40px 0 0  -40px}
.n_3  {width: 8px;height:11px} .n_3  img {margin: -40px 0 0  -50px}
.n_4  {width: 8px;height:11px} .n_4  img {margin: -40px 0 0  -60px}
.n_5  {width: 8px;height:11px} .n_5  img {margin: -40px 0 0  -70px}
.n_6  {width: 8px;height:11px} .n_6  img {margin: -40px 0 0  -80px}
.n_7  {width: 8px;height:11px} .n_7  img {margin: -40px 0 0  -90px}
.n_8  {width: 8px;height:11px} .n_8  img {margin: -40px 0 0 -100px}
.n_9  {width: 8px;height:11px} .n_9  img {margin: -40px 0 0 -110px}
.n_co {width: 8px;height:11px} .n_co img {margin: -40px 0 0 -120px}

.t_hy {width: 5px;height: 7px} .t_hy img {margin: -60px 0 0    0px}
.t_pe {width: 3px;height: 7px} .t_pe img {margin: -60px 0 0  -10px}
.t_0  {width: 5px;height: 7px} .t_0  img {margin: -60px 0 0  -20px}
.t_1  {width: 5px;height: 7px} .t_1  img {margin: -60px 0 0  -30px}
.t_2  {width: 5px;height: 7px} .t_2  img {margin: -60px 0 0  -40px}
.t_3  {width: 5px;height: 7px} .t_3  img {margin: -60px 0 0  -50px}
.t_4  {width: 5px;height: 7px} .t_4  img {margin: -60px 0 0  -60px}
.t_5  {width: 5px;height: 7px} .t_5  img {margin: -60px 0 0  -70px}
.t_6  {width: 5px;height: 7px} .t_6  img {margin: -60px 0 0  -80px}
.t_7  {width: 5px;height: 7px} .t_7  img {margin: -60px 0 0  -90px}
.t_8  {width: 5px;height: 7px} .t_8  img {margin: -60px 0 0 -100px}
.t_9  {width: 5px;height: 7px} .t_9  img {margin: -60px 0 0 -110px}
.t_co {width: 3px;height: 7px} .t_co img {margin: -60px 0 0 -120px}
.t_a  {width: 5px;height: 7px} .t_a  img {margin: -60px 0 0 -130px}
.t_b  {width: 5px;height: 7px} .t_b  img {margin: -60px 0 0 -140px}
.t_c  {width: 5px;height: 7px} .t_c  img {margin: -60px 0 0 -150px}
.t_d  {width: 5px;height: 7px} .t_d  img {margin: -60px 0 0 -160px}
.t_e  {width: 5px;height: 7px} .t_e  img {margin: -60px 0 0 -170px}
.t_f  {width: 5px;height: 7px} .t_f  img {margin: -60px 0 0 -180px}
.t_g  {width: 5px;height: 7px} .t_g  img {margin: -60px 0 0 -190px}
.t_h  {width: 5px;height: 7px} .t_h  img {margin: -60px 0 0 -200px}
.t_i  {width: 5px;height: 7px} .t_i  img {margin: -60px 0 0 -210px}
.t_j  {width: 5px;height: 7px} .t_j  img {margin: -60px 0 0 -220px}
.t_k  {width: 5px;height: 7px} .t_k  img {margin: -60px 0 0 -230px}
.t_l  {width: 5px;height: 7px} .t_l  img {margin: -60px 0 0 -240px}
.t_m  {width: 6px;height: 7px} .t_m  img {margin: -60px 0 0 -250px}
.t_n  {width: 5px;height: 7px} .t_n  img {margin: -60px 0 0 -260px}
.t_o  {width: 5px;height: 7px} .t_o  img {margin: -60px 0 0 -270px}
.t_p  {width: 5px;height: 7px} .t_p  img {margin: -60px 0 0 -280px}
.t_q  {width: 5px;height: 7px} .t_q  img {margin: -60px 0 0 -290px}
.t_r  {width: 5px;height: 7px} .t_r  img {margin: -60px 0 0 -300px}
.t_s  {width: 5px;height: 7px} .t_s  img {margin: -60px 0 0 -310px}
.t_t  {width: 5px;height: 7px} .t_t  img {margin: -60px 0 0 -320px}
.t_u  {width: 5px;height: 7px} .t_u  img {margin: -60px 0 0 -330px}
.t_v  {width: 5px;height: 7px} .t_v  img {margin: -60px 0 0 -340px}
.t_w  {width: 6px;height: 7px} .t_w  img {margin: -60px 0 0 -350px}
.t_x  {width: 5px;height: 7px} .t_x  img {margin: -60px 0 0 -360px}
.t_y  {width: 5px;height: 7px} .t_y  img {margin: -60px 0 0 -370px}
.t_z  {width: 5px;height: 7px} .t_z  img {margin: -60px 0 0 -380px}
.t_sp {width: 3px;height: 7px} .t_sp img {margin: -60px 0 0 -480px}
.t_ul {width: 5px;height: 7px} .t_ul img {margin: -60px 0 0 -480px}

.a_hy {width: 8px;height: 8px} .a_hy img {margin: -80px 0 0    0px}
.a_pe {width: 8px;height: 8px} .a_pe img {margin: -80px 0 0  -10px}
.a_0  {width: 8px;height: 8px} .a_0  img {margin: -80px 0 0  -20px}
.a_1  {width: 8px;height: 8px} .a_1  img {margin: -80px 0 0  -30px}
.a_2  {width: 8px;height: 8px} .a_2  img {margin: -80px 0 0  -40px}
.a_3  {width: 8px;height: 8px} .a_3  img {margin: -80px 0 0  -50px}
.a_4  {width: 8px;height: 8px} .a_4  img {margin: -80px 0 0  -60px}
.a_5  {width: 8px;height: 8px} .a_5  img {margin: -80px 0 0  -70px}
.a_6  {width: 8px;height: 8px} .a_6  img {margin: -80px 0 0  -80px}
.a_7  {width: 8px;height: 8px} .a_7  img {margin: -80px 0 0  -90px}
.a_8  {width: 8px;height: 8px} .a_8  img {margin: -80px 0 0 -100px}
.a_9  {width: 8px;height: 8px} .a_9  img {margin: -80px 0 0 -110px}
.a_co {width: 8px;height: 8px} .a_co img {margin: -80px 0 0 -120px}
.a_a  {width: 8px;height: 8px} .a_a  img {margin: -80px 0 0 -130px}
.a_b  {width: 8px;height: 8px} .a_b  img {margin: -80px 0 0 -140px}
.a_c  {width: 8px;height: 8px} .a_c  img {margin: -80px 0 0 -150px}
.a_d  {width: 8px;height: 8px} .a_d  img {margin: -80px 0 0 -160px}
.a_e  {width: 8px;height: 8px} .a_e  img {margin: -80px 0 0 -170px}
.a_f  {width: 8px;height: 8px} .a_f  img {margin: -80px 0 0 -180px}
.a_g  {width: 8px;height: 8px} .a_g  img {margin: -80px 0 0 -190px}
.a_h  {width: 8px;height: 8px} .a_h  img {margin: -80px 0 0 -200px}
.a_i  {width: 8px;height: 8px} .a_i  img {margin: -80px 0 0 -210px}
.a_j  {width: 8px;height: 8px} .a_j  img {margin: -80px 0 0 -220px}
.a_k  {width: 8px;height: 8px} .a_k  img {margin: -80px 0 0 -230px}
.a_l  {width: 8px;height: 8px} .a_l  img {margin: -80px 0 0 -240px}
.a_m  {width: 8px;height: 8px} .a_m  img {margin: -80px 0 0 -250px}
.a_n  {width: 8px;height: 8px} .a_n  img {margin: -80px 0 0 -260px}
.a_o  {width: 8px;height: 8px} .a_o  img {margin: -80px 0 0 -270px}
.a_p  {width: 8px;height: 8px} .a_p  img {margin: -80px 0 0 -280px}
.a_q  {width: 8px;height: 8px} .a_q  img {margin: -80px 0 0 -290px}
.a_r  {width: 8px;height: 8px} .a_r  img {margin: -80px 0 0 -300px}
.a_s  {width: 8px;height: 8px} .a_s  img {margin: -80px 0 0 -310px}
.a_t  {width: 8px;height: 8px} .a_t  img {margin: -80px 0 0 -320px}
.a_u  {width: 8px;height: 8px} .a_u  img {margin: -80px 0 0 -330px}
.a_v  {width: 8px;height: 8px} .a_v  img {margin: -80px 0 0 -340px}
.a_w  {width: 8px;height: 8px} .a_w  img {margin: -80px 0 0 -350px}
.a_x  {width: 8px;height: 8px} .a_x  img {margin: -80px 0 0 -360px}
.a_y  {width: 8px;height: 8px} .a_y  img {margin: -80px 0 0 -370px}
.a_z  {width: 8px;height: 8px} .a_z  img {margin: -80px 0 0 -380px}
.a_sp {width: 8px;height: 8px} .a_sp img {margin: -80px 0 0 -480px}